<!DOCTYPE html>
<html>
<head>
    <title>QR Code</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        .center {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            flex-direction: column;
        }
        img {
            width: 200px;
            height: 200px;
        }
    </style>
</head>
<body>
    <div class="center">
        <h1>Scan the QR Code</h1>
        <img src="{{ qr_code_image }}" alt="QR Code">
        <p>Scan the above QR code to download the audio file.</p>
       
        <a href="{{ audio_url }}" download class="btn btn-primary">Download</a>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>